/gomod2nix-template
stock
.env
.env.local
/tmp
/result
/localStorage

/database/repository/*.go

/static/alpine.min.js
/static/htmx.min.js
/static/idiomorph-ext.min.js
/static/styles.css
/styles/daisyui*

/templates/**/*_templ.go