LOGLEVEL=debug
LOGFORMAT=text
#LOGFILE=

DB_HOST=localhost
DB_PORT=5432
DB_USER=stock
DB_PASSWORD=stock
DB_NAME=stockdb
DB_SSLMODE=disable
DB_URL="postgres://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?sslmode=$DB_SSLMODE"

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=$DB_HOST port=$DB_PORT user=$DB_USER password=$DB_PASSWORD dbname=$DB_NAME sslmode=$DB_SSLMODE"
GOOSE_MIGRATION_DIR=./database/migrations
