ENV=dev # Options: localdev, ci, dev, int, prod

LOGLEVEL=debug # Options: debug, info, warn, error
LOGFORMAT=text # Options: text, json
#LOGFILE= # Use this to log to a file instead of stdout.

DB_HOST=localhost
DB_PORT=5432
DB_USER=stock
DB_PASSWORD=yourpassword
DB_NAME=stockdb
DB_SSLMODE=disable
DB_URL="postgres://$DB_USER:$DB_PASSWORD@$DB_HOST:$DB_PORT/$DB_NAME?sslmode=$DB_SSLMODE"

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=$DB_HOST port=$DB_PORT user=$DB_USER password=$DB_PASSWORD dbname=$DB_NAME sslmode=$DB_SSLMODE"
GOOSE_MIGRATION_DIR=./database/migrations
