@import "tailwindcss";
@source "../components/*.templ";

/* Colors: https://www.iamsajid.com/ui-colors/ */
:root {
  --bg-dark: oklch(0.1 0 146);
  --bg: oklch(0.15 0 146);
  --bg-light: oklch(0.2 0 146);
  --text: oklch(0.96 0 146);
  --text-muted: oklch(0.76 0 146);
  --highlight: oklch(0.5 0 146);
  --border: oklch(0.4 0 146);
  --border-muted: oklch(0.3 0 146);
  --primary: oklch(0.76 0.1 146);
  --secondary: oklch(0.76 0.1 326);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: oklch(0.92 0 146);
    --bg: oklch(0.96 0 146);
    --bg-light: oklch(1 0 146);
    --text: oklch(0.15 0 146);
    --text-muted: oklch(0.4 0 146);
    --highlight: oklch(1 0 146);
    --border: oklch(0.6 0 146);
    --border-muted: oklch(0.7 0 146);
    --primary: oklch(0.4 0.1 146);
    --secondary: oklch(0.4 0.1 326);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);
  }
}

@theme {
  --font-display: "Satoshi", "sans-serif";

  /* If opacity doesn't work, add "/ <alpha-value>" after each color */
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

@utility custom-shadow {
  box-shadow:
    hsla(0, 0%, 100%, 0.19) 0px 1px 2px inset,
    rgba(0, 0, 0, 0.19) 0px 2px 2px,
    rgba(0, 0, 0, 0.082) 0px 4px 4px;
}
