package partials

import (
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/gin-gonic/gin"
)

templ MessagesHandler(c *gin.Context) {
	<div
		x-data="pageMessages()"
		class="space-y-2"
		aria-live="polite"
		aria-atomic="true"
	>
		<div id="icon-default" class="hidden">
			@icons.InformationCircle()
		</div>
		<div id="icon-info" class="hidden">
			@icons.InformationCircle()
		</div>
		<div id="icon-success" class="hidden">
			@icons.CheckCircle()
		</div>
		<div id="icon-warning" class="hidden">
			@icons.ExclamationTriangle()
		</div>
		<div id="icon-error" class="hidden">
			@icons.XCircle()
		</div>
		<template x-for="m in messages" :key="m.id">
			<div class="alert alert-soft" :class="colorBySeverity[m.severity]" role="alert">
				<i x-html="getIcon(m.severity)"></i>
				<span x-text="m.message"></span>
			</div>
		</template>
		<script>
        function pageMessages() {
            return {
                messages: [],
                init() {
                    function getCookie(name) {
                        const m = document.cookie.match(new RegExp("(^| )" + name + "=([^;]+)"));
                        return m ? m[2] : null;
                    }
                    console.log("Initializing page messages");
                    console.log("Cookies:", document.cookie);
                    const raw = getCookie("notification-message");
                    if (!raw) return;
                    console.log("Found page message cookie:", raw);

                    try {
                        const data = JSON.parse(decodeURIComponent(raw.replace(/\+/g, "%20")));
                        this.messages.push({
                            id: Date.now(),
                            severity: data.severity,
                            message: data.content,
                        });
                    } catch (e) {
                        console.error(e);
                    }

                    // remove only when the page is being reloaded/unloaded
                    window.addEventListener("beforeunload", () => {
                        document.cookie = "notification-message=; Max-Age=0; Path=/";
                    });
                },
                getIcon(severity) {
                    const el = document.getElementById('icon-' + severity);
                    return el?.innerHTML || document.getElementById('icon-default')?.innerHTML;
                },
                colorBySeverity: {
                    default: "alert-info",
                    info: "alert-info",
                    success: "alert-success",
                    warning: "alert-warning",
                    error: "alert-error",
                },
            };
        }
        </script>
	</div>
}
