package pages

import (
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/locales"
	"github.com/cyrilschreiber3/stock/routes"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/utils"
	"github.com/gin-gonic/gin"
	"github.com/google/uuid"
)

func GetCategoriesTableColumns(c *gin.Context) []components.DataTableColumn {
	l := locales.New(c)
	return []components.DataTableColumn{
		components.NewDataTableColumn(l.Tc("table.columns.name"), "name"),
		components.NewUnsortedDataTableColumn(l.Tc("table.columns.description"), "description"),
		components.NewDataTableColumn(l.Tc("table.columns.updated_at"), "updated_at"),
		components.NewActionDataTableColumn(),
	}
}

func GetDefaultCategoriesTableConfig(c *gin.Context) *components.DataTableConfig {
	l := locales.New(c)
	return components.NewDataTableConfig("categories").
		SetLabel(l.Tc("categories.titles.index")).
		SetSearchPlaceholder(l.Tc("categories.placeholders.search")).
		SetItemLabel(l.T("categories.label_plural"), l.T("categories.label")).
		SetURL(routes.CategorySearch).
		SetSortKey("name").
		SetSortDirection("asc").
		AddColumns(GetCategoriesTableColumns(c)...)
}

templ CategoriesTableRow(c *gin.Context, category repository.Category) {
	{{ l := locales.New(c) }}
	<tr class="hover:bg-base-300">
		<td>
			<a class="link link-hover" href={ routes.CategoryDetails.URL(routes.ID(category.ID)) }>
				{ category.Name }
			</a>
		</td>
		<td>{ category.Description.String }</td>
		<td>
			<div class="tooltip" data-tip={ utils.PgTimestampToString(category.UpdatedAt) }>
				{ utils.PgTimestampToNaturalLanguage(category.UpdatedAt) }
			</div>
		</td>
		<td>
			<div class="flex space-x-2">
				@components.ButtonLink(routes.CategoryDetails.URL(routes.ID(category.ID)), components.ButtonConfig("").
					Icon(icons.InformationCircle()).
					Color("primary").
					Style("soft").
					Size("sm"),
				)
				@components.ButtonLink(routes.CategoryEditForm.URLWithReturnToCurrent(routes.ID(category.ID), c), components.ButtonConfig("").
					Icon(icons.PencilSquare()).
					Color("info").
					Style("soft").
					Size("sm"),
				)
				@components.Button(components.ButtonConfig("").
					Type("button").
					Icon(icons.Trash()).
					Color("error").
					Style("soft").
					Size("sm").
					HxDelete(routes.CategoryDelete.URL(routes.ID(category.ID))).
					HxConfirm(l.Tc("categories.confirm.delete")).
					HxTarget("closest tr").
					HxSwap("delete"),
				)
			</div>
		</td>
	</tr>
}

templ CategoriesTable(c *gin.Context, categories []repository.Category, tableConfig *components.DataTableConfig) {
	{{
		if tableConfig == nil {
			tableConfig = GetDefaultCategoriesTableConfig(c).GetConfigFromURL(c)
		}
		tableConfig = tableConfig.
			SetItemCount(len(categories)).
			SetConfigToURL(c)
	}}
	@components.DataTable(c, tableConfig) {
		for i := tableConfig.GetPageOffset(); i < tableConfig.GetPageOffset()+tableConfig.GetPageLimit(len(categories)); i++ {
			@CategoriesTableRow(c, categories[i])
		}
	}
}

func GetSubcategoriesForCategoryTableColumns(c *gin.Context) []components.DataTableColumn {
	l := locales.New(c)
	return []components.DataTableColumn{
		components.NewDataTableColumn(l.Tc("table.columns.name"), "name"),
		components.NewUnsortedDataTableColumn(l.Tc("table.columns.description"), "description"),
		components.NewDataTableColumn(l.Tc("table.columns.updated_at"), "updated_at"),
		components.NewActionDataTableColumn(),
	}
}

func GetDefaultSubcategoriesForCategoryTableConfig(c *gin.Context, categoryID uuid.UUID) *components.DataTableConfig {
	l := locales.New(c)
	return components.NewDataTableConfig("subcategories").
		SetLabel(l.Tc("categories.related.subcategories")).
		SetSearchPlaceholder(l.Tc("categories.placeholders.search_subcategories")).
		SetItemLabel(l.T("subcategories.label_plural"), l.T("subcategories.label")).
		SetURLString(routes.SubcategorySearch.URL(routes.ID(categoryID))).
		SetSortKey("name").
		SetSortDirection("asc").
		AddColumns(GetSubcategoriesForCategoryTableColumns(c)...)
}

templ SubcategoriesForCategoryTableRow(c *gin.Context, subcategory repository.SubcategoryWithDetail) {
	{{ l := locales.New(c) }}
	<tr class="hover:bg-base-300">
		<td>
			<a class="link link-hover" href={ routes.SubcategoryDetails.URLWithReturnToCurrent(routes.Subcategory(subcategory.CategoryID, subcategory.ID), c) }>
				{ subcategory.Name }
			</a>
		</td>
		<td>{ subcategory.Description.String }</td>
		<td>
			<div class="tooltip" data-tip={ utils.PgTimestampToString(subcategory.UpdatedAt) }>
				{ utils.PgTimestampToNaturalLanguage(subcategory.UpdatedAt) }
			</div>
		</td>
		<td>
			<div class="flex space-x-2">
				@components.ButtonLink(routes.SubcategoryDetails.URLWithReturnToCurrent(routes.Subcategory(subcategory.CategoryID, subcategory.ID), c), components.ButtonConfig("").
					Icon(icons.InformationCircle()).
					Color("primary").
					Style("soft").
					Size("sm"),
				)
				@components.ButtonLink(routes.SubcategoryEditForm.URLWithReturnToCurrent(routes.Subcategory(subcategory.CategoryID, subcategory.ID), c), components.ButtonConfig("").
					Icon(icons.PencilSquare()).
					Color("info").
					Style("soft").
					Size("sm"),
				)
				@components.Button(components.ButtonConfig("").
					Type("button").
					Icon(icons.Trash()).
					Color("error").
					Style("soft").
					Size("sm").
					HxDelete(routes.SubcategoryDelete.URL(routes.Subcategory(subcategory.CategoryID, subcategory.ID))).
					HxConfirm(l.Tc("subcategories.confirm.delete")).
					HxTarget("closest tr").
					HxSwap("delete"),
				)
			</div>
		</td>
	</tr>
}

templ SubcategoriesForCategoryTable(c *gin.Context, categoryID uuid.UUID, subcategories []repository.SubcategoryWithDetail, tableConfig *components.DataTableConfig) {
	{{
		if tableConfig == nil {
			tableConfig = GetDefaultSubcategoriesForCategoryTableConfig(c, categoryID).GetConfigFromURL(c)
		}
		tableConfig = tableConfig.
			SetItemCount(len(subcategories)).
			SetConfigToURL(c)
	}}
	@components.DataTable(c, tableConfig) {
		for i := tableConfig.GetPageOffset(); i < tableConfig.GetPageOffset()+tableConfig.GetPageLimit(len(subcategories)); i++ {
			@SubcategoriesForCategoryTableRow(c, subcategories[i])
		}
	}
}

func GetProductsForCategoryTableColumns(c *gin.Context) []components.DataTableColumn {
	l := locales.New(c)
	return []components.DataTableColumn{
		components.NewDataTableColumn(l.Tc("products.fields.brand"), "brand"),
		components.NewDataTableColumn(l.Tc("table.columns.name"), "name"),
		components.NewDataTableColumn(l.Tc("subcategories.label"), "subcategory_name"),
		components.NewDataTableColumn(l.Tc("products.fields.supplier"), "supplier_name"),
		components.NewUnsortedDataTableColumn(l.Tc("products.fields.aliases"), "aliases"),
		components.NewDataTableColumn(l.Tc("table.columns.updated_at"), "updated_at"),
		components.NewActionDataTableColumn(),
	}
}

func GetDefaultProductsForCategoryTableConfig(c *gin.Context, categoryID uuid.UUID) *components.DataTableConfig {
	l := locales.New(c)
	return components.NewDataTableConfig("products").
		SetLabel(l.Tc("categories.related.products")).
		SetSearchPlaceholder(l.Tc("categories.placeholders.search_products")).
		SetItemLabel(l.T("products.label_plural"), l.T("products.label")).
		SetURLString(routes.CategorySearchProducts.URL(routes.ID(categoryID))).
		SetSortKey("name").
		SetSortDirection("asc").
		AddColumns(GetProductsForCategoryTableColumns(c)...)
}

templ ProductsForCategoryTableRow(c *gin.Context, product repository.ProductWithDetail) {
	{{ l := locales.New(c) }}
	<tr class="hover:bg-base-300">
		<td>
			<a class="link link-hover" href={ routes.BrandDetails.URLWithReturnToCurrent(routes.Name(product.Brand), c) }>
				{ product.Brand }
			</a>
		</td>
		<td>
			<a class="link link-hover" href={ routes.ProductDetails.URLWithReturnToCurrent(routes.ID(product.ID), c) }>
				{ product.Name }
			</a>
		</td>
		<td>
			<a class="link link-hover" href={ routes.SubcategoryDetails.URLWithReturnToCurrent(routes.Subcategory(product.CategoryID, product.SubcategoryID), c) }>
				{ product.Subcategory.Name }
			</a>
		</td>
		<td>
			<a class="link link-hover" href={ routes.SupplierDetails.URLWithReturnToCurrent(routes.ID(product.DefaultSupplierID), c) }>
				{ product.Supplier.Name }
			</a>
		</td>
		<td>
			<div class="flex flex-wrap gap-2">
				for _, alias := range product.Aliases {
					@components.Badge(components.BadgeConfig(alias).Color("primary"))
				}
			</div>
		</td>
		<td>
			<div class="tooltip" data-tip={ utils.PgTimestampToString(product.UpdatedAt) }>
				{ utils.PgTimestampToNaturalLanguage(product.UpdatedAt) }
			</div>
		</td>
		<td>
			<div class="flex gap-2">
				@components.ButtonLink(routes.ProductDetails.URLWithReturnToCurrent(routes.ID(product.ID), c), components.ButtonConfig("").
					Icon(icons.InformationCircle()).
					Color("primary").
					Style("soft").
					Size("sm"),
				)
				@components.ButtonLink(routes.ProductEditForm.URLWithReturnToCurrent(routes.ID(product.ID), c), components.ButtonConfig("").
					Icon(icons.PencilSquare()).
					Color("info").
					Style("soft").
					Size("sm"),
				)
				@components.Button(components.ButtonConfig("").
					Type("button").
					Icon(icons.Trash()).
					Color("error").
					Style("soft").
					Size("sm").
					HxDelete(routes.ProductDelete.URL(routes.ID(product.ID))).
					HxConfirm(l.Tc("products.confirm.delete")).
					HxTarget("closest tr").
					HxSwap("delete"),
				)
			</div>
		</td>
	</tr>
}

templ ProductsForCategoryTable(c *gin.Context, categoryID uuid.UUID, products []repository.ProductWithDetail, tableConfig *components.DataTableConfig) {
	{{
		if tableConfig == nil {
			tableConfig = GetDefaultProductsForCategoryTableConfig(c, categoryID).GetConfigFromURL(c)
		}
		tableConfig = tableConfig.
			SetItemCount(len(products)).
			SetConfigToURL(c)
	}}
	@components.DataTable(c, tableConfig) {
		for i := tableConfig.GetPageOffset(); i < tableConfig.GetPageOffset()+tableConfig.GetPageLimit(len(products)); i++ {
			@ProductsForCategoryTableRow(c, products[i])
		}
	}
}
