package pages

import (
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/locales"
	"github.com/cyrilschreiber3/stock/routes"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/utils"
	"github.com/gin-gonic/gin"
)

func GetInventoryTableColumns(c *gin.Context) []components.DataTableColumn {
	l := locales.New(c)
	return []components.DataTableColumn{
		components.NewDataTableColumn(l.Tc("inventory.fields.product_brand"), "product_brand"),
		components.NewDataTableColumn(l.Tc("inventory.fields.product_name"), "product_name"),
		components.NewDataTableColumn(l.Tc("inventory.fields.quantity"), "quantity"),
		components.NewDataTableColumn(l.Tc("inventory.fields.average_unit_price"), "average_unit_price"),
		components.NewDataTableColumn(l.Tc("inventory.fields.average_unit_cost"), "average_unit_cost"),
		components.NewDataTableColumn(l.Tc("table.columns.updated_at"), "updated_at"),
	}
}

func GetDefaultInventoryTableConfig(c *gin.Context) *components.DataTableConfig {
	l := locales.New(c)
	return components.NewDataTableConfig("inventory").
		SetLabel(l.Tc("inventory.titles.index")).
		SetSearchPlaceholder(l.Tc("inventory.placeholders.search")).
		SetItemLabel(l.T("inventory.label_plural"), l.T("inventory.label")).
		SetURL(routes.InventorySearch).
		SetSortKey("product_name").
		SetSortDirection("asc").
		AddColumns(GetInventoryTableColumns(c)...)
}

templ InventoryTableRow(c *gin.Context, product repository.InventoryWithDetail) {
	<tr class="hover:bg-base-300">
		<td>
			<a class="link link-hover" href={ routes.BrandDetails.URLWithReturnToCurrent(routes.Name(product.Product.Brand), c) }>
				{ product.Product.Brand }
			</a>
		</td>
		<td>
			<a class="link link-hover" href={ routes.ProductDetails.URLWithReturnToCurrent(routes.ID(product.ProductID), c) }>
				{ product.Product.Name }
			</a>
		</td>
		<td>{ product.TotalQuantity }</td>
		<td>{ utils.PgNumericToString(averageUnitPrice(product.TotalBuyPrice, product.TotalBuyQuantity), "0.00") } CHF</td>
		<td>{ utils.PgNumericToString(averageUnitPrice(product.TotalSellPrice, product.TotalSellQuantity), "0.00") } CHF</td>
		<td>
			<div class="tooltip" data-tip={ utils.PgTimestampToString(product.UpdatedAt) }>
				{ utils.PgTimestampToNaturalLanguage(product.UpdatedAt) }
			</div>
		</td>
	</tr>
}

templ InventoryTable(c *gin.Context, inventory []repository.InventoryWithDetail, tableConfig *components.DataTableConfig) {
	{{
		if tableConfig == nil {
			tableConfig = GetDefaultInventoryTableConfig(c).GetConfigFromURL(c)
		}
		tableConfig = tableConfig.
			SetItemCount(len(inventory)).
			SetConfigToURL(c)
	}}
	@components.DataTable(c, tableConfig) {
		for i := tableConfig.GetPageOffset(); i < tableConfig.GetPageOffset()+tableConfig.GetPageLimit(len(inventory)); i++ {
			@InventoryTableRow(c, inventory[i])
		}
	}
}
