package pages

import (
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/templates/layouts"
	"github.com/cyrilschreiber3/stock/utils"
	"github.com/gin-gonic/gin"
)

templ Products(c *gin.Context, products []repository.GetAllProductWithDetailsRow) {
	@layouts.Base(c, "Stock") {
		<div class="my-5 flex justify-between">
			<h1 class="text-2xl font-bold">Products</h1>
			@components.ButtonLink("/products/create", components.ButtonConfig("Create").
				Icon(icons.Plus()).
				Color("primary"),
			)
		</div>
		<div class="rounded-box border-base-content/5 bg-base-100 overflow-x-auto border">
			<table class="table">
				<thead>
					<tr>
						<th>Brand</th>
						<th>Name</th>
						<th>Category</th>
						<th>Sub-category</th>
						<th>Default supplier</th>
						<th>Base buy price</th>
						<th>Base sell price</th>
						<th>Aliases</th>
						<th>Created</th>
						<th>Last updated</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					for _, product := range products {
						<tr>
							<td>{ product.Brand }</td>
							<td>{ product.Name }</td>
							<td>{ product.CategoryName }</td>
							<td>{ product.SubcategoryName }</td>
							<td>{ product.DefaultSupplierName }</td>
							<td>{ utils.PgNumericToString(product.DefaultBuyPrice, "0.00") } CHF</td>
							<td>{ utils.PgNumericToString(product.DefaultSellPrice, "0.00") } CHF</td>
							<td class="space-x-2 space-y-2">
								for _, alias := range product.Aliases {
									@components.Badge(components.BadgeConfig(alias).Color("primary"))
								}
							</td>
							<td>
								<div class="tooltip" data-tip={ utils.PgTimestampToString(product.CreatedAt) }>
									{ utils.PgTimestampToNaturalLanguage(product.CreatedAt) }
								</div>
							</td>
							<td>
								<div class="tooltip" data-tip={ utils.PgTimestampToString(product.UpdatedAt) }>
									{ utils.PgTimestampToNaturalLanguage(product.UpdatedAt) }
								</div>
							</td>
							<td>
								<div class="flex space-x-2">
									@components.ButtonLink("/products/"+product.ID.String(), components.ButtonConfig("Edit").
										Icon(icons.PencilSquare()).
										Style("soft").
										Size("sm").
										Color("secondary"),
									)
									@components.Button(components.ButtonConfig("Delete").
										Icon(icons.Trash()).
										Color("error").
										Style("soft").
										Size("sm").
										HxDelete("/products/" + product.ID.String()).
										HxConfirm("Are you sure you want to delete this product?").
										HxTarget("closest tr").
										HxSwap("delete"),
									)
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
}

templ CreateUpdateProduct(c *gin.Context, product *repository.Product) {
	@layouts.Base(c, "Stock") {
		{{
			title := "Create product"
			formMethod := "post"
			formAction := "/products/create"
			submitButtonText := "Create"

			brand := ""
			name := ""
			categoryID := ""
			subcategoryID := ""
			supplierID := ""
			defaultBuy := ""
			defaultSell := ""
			aliases := []string{}

			if product != nil {
				title = "Update product: " + product.Name
				formMethod = "put"
				formAction = fmt.Sprintf("/products/%s/update", product.ID.String())
				submitButtonText = "Update"

				brand = product.Brand
				name = product.Name
				categoryID = product.CategoryID.String()
				subcategoryID = product.SubcategoryID.String()
				supplierID = product.DefaultSupplierID.String()
				defaultBuy = utils.PgNumericToString(product.DefaultBuyPrice, "0.00")
				defaultSell = utils.PgNumericToString(product.DefaultSellPrice, "0.00")
				aliases = product.Aliases
			}
		}}
		<h1 class="mb-4 text-2xl font-bold">{ title }</h1>
		<form id="product-form" name="product-form" { "hx-" + formMethod }={ formAction } hx-swap="none">
			@components.FormField(components.FormFieldConfig("brand").
				Type("text").
				Label("Product Brand").
				Placeholder("Dr. Gabs").
				Value(brand).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("name").
				Type("text").
				Label("Product Name").
				Placeholder("SWAF").
				Value(name).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("category_id").
				Type("select").
				Label("Category").
				Placeholder("Select a category").
				Value(categoryID).
				OptionsFromEndpoint("/categories/options").
				Required(),
			)
			@components.FormField(components.FormFieldConfig("subcategory_id").
				Type("select").
				Label("Sub-category").
				Placeholder("Select a sub-category").
				Value(subcategoryID).
				OptionsFromEndpoint("/categories/:id/subcategories/options").
				DependsOn("category_id").
				Required(),
			)
			@components.FormField(components.FormFieldConfig("default_supplier_id").
				Type("select").
				Label("Default Supplier").
				Placeholder("Select a supplier").
				Value(supplierID).
				OptionsFromEndpoint("/suppliers/options").
				Required(),
			)
			@components.FormField(components.FormFieldConfig("default_buy_price").
				Type("number").
				Label("Base Buy Price").
				Placeholder("3.00").
				Value(defaultBuy).
				ValidationPreset("money").
				Suffix("CHF").
				Required(),
			)
			@components.FormField(components.FormFieldConfig("default_sell_price").
				Type("number").
				Label("Base Sell Price").
				Placeholder("4.50").
				Value(defaultSell).
				ValidationPreset("money").
				Suffix("CHF").
				Required(),
			)
			@components.FormField(components.FormFieldConfig("aliases").
				Type("text").
				Label("Aliases").
				Placeholder("Alternate product name").
				AsList().
				ValueList(aliases).
				Required(),
			)
			<div class="mt-6 flex justify-end gap-2">
				@components.ButtonLink("/products", components.ButtonConfig("Back").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.Button(components.ButtonConfig(submitButtonText).
					Type("submit").
					Icon(icons.DocumentCheck()).
					Color("primary"),
				)
			</div>
		</form>
	}
}
