package pages

import (
	"fmt"
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/templates/layouts"
	"github.com/cyrilschreiber3/stock/utils"
	"github.com/gin-gonic/gin"
)

templ Subcategories(c *gin.Context, subcategories []repository.GetSubcategoriesWithCategoryDetailsByCategoryIDRow) {
	@layouts.Base(c, "Stock") {
		<div class="my-5 flex flex-wrap items-center justify-between gap-3">
			<div>
				<h1 class="text-2xl font-bold">Sub-categories</h1>
				<p class="text-base-content/70 text-sm">Category: { subcategories[0].CategoryName }</p>
			</div>
			<div class="flex gap-2">
				@components.ButtonLink("/categories", components.ButtonConfig("Back to categories").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.ButtonLink(fmt.Sprintf("/categories/%s/subcategories/create", subcategories[0].CategoryID.String()), components.ButtonConfig("Create").
					Icon(icons.Plus()).
					Color("primary"),
				)
			</div>
		</div>
		<div class="rounded-box border-base-content/5 bg-base-100 overflow-x-auto border">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Created</th>
						<th>Last updated</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					for _, subcategory := range subcategories {
						<tr>
							<td>{ subcategory.Name }</td>
							<td>{ subcategory.Description.String }</td>
							<td>
								<div class="tooltip" data-tip={ utils.PgTimestampToString(subcategory.CreatedAt) }>
									{ utils.PgTimestampToNaturalLanguage(subcategory.CreatedAt) }
								</div>
							</td>
							<td>
								<div class="tooltip" data-tip={ utils.PgTimestampToString(subcategory.UpdatedAt) }>
									{ utils.PgTimestampToNaturalLanguage(subcategory.UpdatedAt) }
								</div>
							</td>
							<td>
								<div class="flex justify-end space-x-2">
									@components.ButtonLink(fmt.Sprintf("/categories/%s/subcategories/%s/edit", subcategories[0].CategoryID.String(), subcategory.ID.String()), components.ButtonConfig("Edit").
										Icon(icons.PencilSquare()).
										Color("info").
										Style("soft").
										Size("sm"),
									)
									@components.Button(components.ButtonConfig("Delete").
										Type("button").
										Icon(icons.Trash()).
										Color("error").
										Style("soft").
										Size("sm").
										HxDelete(fmt.Sprintf("/categories/%s/subcategories/%s/delete", subcategories[0].CategoryID.String(), subcategory.ID.String())).
										HxConfirm("Are you sure you want to delete this sub-category?").
										HxTarget("closest tr").
										HxSwap("delete"),
									)
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
}

templ CreateUpdateSubcategory(c *gin.Context, category repository.Category, subcategory *repository.Subcategory) {
	{{
		title := "Create sub-category"
		formMethod := "post"
		formAction := fmt.Sprintf("/categories/%s/subcategories/create", category.ID.String())
		submitButtonText := "Create"

		name := ""
		description := ""

		if subcategory != nil {
			title = "Update sub-category: " + subcategory.Name
			formMethod = "put"
			formAction = fmt.Sprintf("/categories/%s/subcategories/%s/update", category.ID.String(), subcategory.ID.String())
			submitButtonText = "Update"

			name = subcategory.Name
			description = subcategory.Description.String
		}
	}}
	@layouts.Base(c, title) {
		<h1 class="mb-1 text-2xl font-bold">{ title }</h1>
		<p class="text-base-content/70 mb-4 text-sm">Category: { category.Name }</p>
		<form id="subcategory-form" name="subcategory-form" { "hx-" + formMethod }={ formAction } hx-swap="none">
			<input type="hidden" name="category_id" value={ category.ID.String() }/>
			@components.FormField(components.FormFieldConfig("name").
				Type("text").
				Label("Sub-category name").
				Placeholder("Yogurts").
				Value(name).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("description").
				Type("textarea").
				Label("Description").
				Placeholder("Short description for this sub-category").
				Value(description).
				Required(),
			)
			<div class="flex justify-end space-x-2">
				@components.ButtonLink(fmt.Sprintf("/categories/%s/subcategories", category.ID.String()), components.ButtonConfig("Back").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.Button(components.ButtonConfig(submitButtonText).
					Type("submit").
					Icon(icons.FloppyDisk()).
					Color("primary"),
				)
			</div>
		</form>
	}
}
