package pages

import (
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/routes"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/templates/layouts"
	"github.com/gin-gonic/gin"
)

templ CreateUpdateSubcategory(c *gin.Context, category repository.Category, subcategory *repository.Subcategory) {
	{{
		title := "Create subcategory"
		formMethod := "post"
		formAction := routes.SubcategoryCreate.URL(routes.ID(category.ID))
		submitButtonText := "Create"

		name := ""
		description := ""

		if subcategory != nil {
			title = "Update subcategory: " + subcategory.Name
			formMethod = "put"
			formAction = routes.SubcategoryUpdate.URLWithReturn(routes.Subcategory(category.ID, subcategory.ID), c)
			submitButtonText = "Update"

			name = subcategory.Name
			description = subcategory.Description.String
		}
	}}
	@layouts.Base(c, title, "categories") {
		<h1 class="mb-1 text-2xl font-bold">{ title }</h1>
		<p class="text-base-content/70 mb-4 text-sm">Category: { category.Name }</p>
		<form id="subcategory-form" name="subcategory-form" { "hx-" + formMethod }={ formAction } hx-swap="none">
			<input type="hidden" name="category_id" value={ category.ID.String() }/>
			@components.FormField(components.FormFieldConfig("name").
				Type("text").
				Label("Sub-category name").
				Placeholder("Yogurts").
				Value(name).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("description").
				Type("textarea").
				Label("Description").
				Placeholder("Short description for this sub-category").
				Value(description).
				Required(),
			)
			<div class="flex justify-end space-x-2">
				@components.ButtonLink(routes.CategoryDetails.ReturnOrURL(routes.ID(category.ID), c), components.ButtonConfig("Back").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.Button(components.ButtonConfig(submitButtonText).
					Type("submit").
					Icon(icons.FloppyDisk()).
					Color("primary"),
				)
			</div>
		</form>
	}
}

templ SubcategoryDetails(c *gin.Context, subcategory repository.SubcategoryWithDetail, products []repository.ProductWithDetail) {
	{{
		safeToDelete := false

		if len(products) == 0 {
			safeToDelete = true
		}
	}}
	@layouts.Base(c, "Subcategory details", "categories") {
		<div class="flex flex-col gap-6">
			<div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
				<div>
					<h1 class="mb-1 text-2xl font-bold">{ subcategory.Name }</h1>
					<p class="text-base-content/70 text-sm">Category: { subcategory.Category.Name }</p>
					<p class="text-base-content/70 text-sm">{ subcategory.Description.String }</p>
				</div>
				<div class="flex gap-2">
					@components.ButtonLink(routes.CategoryDetails.ReturnOrURL(routes.ID(subcategory.CategoryID), c), components.ButtonConfig("Back").
						Icon(icons.ArrowLeft()).
						Color("neutral"),
					)
					@components.ButtonLink(routes.SubcategoryEditForm.URLWithReturnToCurrent(routes.Subcategory(subcategory.CategoryID, subcategory.ID), c), components.ButtonConfig("Edit").
						Icon(icons.PencilSquare()).
						Color("info"),
					)
					@components.Button(components.ButtonConfig("Delete").
						Icon(icons.Trash()).
						Color("error").
						Disabled(!safeToDelete).
						HxDelete(routes.SubcategoryDelete.URLWithReturn(routes.Subcategory(subcategory.CategoryID, subcategory.ID), c)).
						HxConfirm("Are you sure you want to delete this sub-category?").
						HxSwap("none"),
					)
				</div>
			</div>
			@ProductsForSubcategoryTable(c, subcategory.CategoryID, subcategory.ID, products, nil)
		</div>
	}
}
