package pages

import (
	"fmt"
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/templates/layouts"
	"github.com/cyrilschreiber3/stock/utils"
	"github.com/gin-gonic/gin"
)

templ Suppliers(c *gin.Context, suppliers []repository.Supplier) {
	@layouts.Base(c, "Stock") {
		<div class="my-5 flex justify-end">
			@components.ButtonLink("/suppliers/create", components.ButtonConfig("Create").
				Icon(icons.Plus()).
				Color("primary"),
			)
		</div>
		<div class="rounded-box border-base-content/5 bg-base-100 overflow-x-auto border">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Created</th>
						<th>Last updated</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					for _, supplier := range suppliers {
						<tr>
							<td>{ supplier.Name }</td>
							<td>{ supplier.Description.String }</td>
							<td>
								<div class="tooltip" data-tip={ utils.PgTimestampToString(supplier.CreatedAt) }>
									{ utils.PgTimestampToNaturalLanguage(supplier.CreatedAt) }
								</div>
							</td>
							<td>
								<div class="tooltip" data-tip={ utils.PgTimestampToString(supplier.UpdatedAt) }>
									{ utils.PgTimestampToNaturalLanguage(supplier.UpdatedAt) }
								</div>
							</td>
							<td>
								<div class="flex justify-end space-x-2">
									@components.ButtonLink(fmt.Sprintf("/suppliers/%d/edit", supplier.ID), components.ButtonConfig("Edit").
										Icon(icons.PencilSquare()).
										Color("secondary").
										Style("soft").
										Size("sm"),
									)
									@components.ButtonLink(fmt.Sprintf("/suppliers/%d/products", supplier.ID), components.ButtonConfig("Products").
										Icon(icons.Cube()).
										Color("secondary").
										Style("soft").
										Size("sm"),
									)
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}
}

templ CreateUpdateSupplier(c *gin.Context, supplier *repository.Supplier) {
	{{
		title := "Create supplier"
		formMethod := "post"
		formAction := "/suppliers/create"
		submitButtonText := "Create"

		name := ""
		description := ""

		if supplier != nil {
			title = "Update supplier: " + supplier.Name
			formMethod = "put"
			formAction = fmt.Sprintf("/suppliers/%s/update", supplier.ID.String())
			submitButtonText = "Update"

			name = supplier.Name
			description = supplier.Description.String
		}
	}}
	@layouts.Base(c, title) {
		<h1 class="mb-4 text-2xl font-bold">{ title }</h1>
		<form id="supplier-form" name="supplier-form" { "hx-" + formMethod }={ formAction } hx-swap="none">
			@components.FormField(components.FormFieldConfig("name").
				Type("text").
				Label("Supplier name").
				Placeholder("Coop").
				Value(name).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("description").
				Type("textarea").
				Label("Description").
				Placeholder("Supplier description").
				Value(description).
				Required(),
			)
			<div class="flex justify-end space-x-2">
				@components.ButtonLink("/suppliers", components.ButtonConfig("Back").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.Button(components.ButtonConfig(submitButtonText).
					Type("submit").
					Icon(icons.FloppyDisk()).
					Color("primary"),
				)
			</div>
		</form>
	}
}
