package pages

import (
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/routes"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/templates/layouts"
	"github.com/gin-gonic/gin"
)

templ Suppliers(c *gin.Context, suppliers []repository.Supplier) {
	@layouts.Base(c, "Suppliers", "suppliers") {
		<div class="flex flex-col gap-6">
			<div class="flex justify-between">
				<h1 class="text-2xl font-bold">Suppliers</h1>
				@components.ButtonLink(routes.SupplierCreateForm.URL(), components.ButtonConfig("Create").
					Icon(icons.Plus()).
					Color("primary"),
				)
			</div>
			@SuppliersTable(c, suppliers, nil)
		</div>
	}
}

templ CreateUpdateSupplier(c *gin.Context, supplier *repository.Supplier) {
	{{
		title := "Create supplier"
		formMethod := "post"
		formAction := routes.SupplierCreate.URL()
		submitButtonText := "Create"

		name := ""
		description := ""

		if supplier != nil {
			title = "Update supplier: " + supplier.Name
			formMethod = "put"
			formAction = routes.SupplierUpdate.URLWithReturn(routes.ID(supplier.ID), c)
			submitButtonText = "Update"

			name = supplier.Name
			description = supplier.Description.String
		}
	}}
	@layouts.Base(c, title, "suppliers") {
		<h1 class="mb-4 text-2xl font-bold">{ title }</h1>
		<form id="supplier-form" name="supplier-form" { "hx-" + formMethod }={ formAction } hx-swap="none">
			@components.FormField(components.FormFieldConfig("name").
				Type("text").
				Label("Supplier name").
				Placeholder("Coop").
				Value(name).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("description").
				Type("textarea").
				Label("Description").
				Placeholder("Supplier description").
				Value(description),
			)
			<div class="flex justify-end space-x-2">
				@components.ButtonLink(routes.SupplierList.ReturnOrURL(c), components.ButtonConfig("Back").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.Button(components.ButtonConfig(submitButtonText).
					Type("submit").
					Icon(icons.FloppyDisk()).
					Color("primary"),
				)
			</div>
		</form>
	}
}

templ SupplierDetails(c *gin.Context, supplier repository.Supplier, products []repository.ProductWithDetail) {
	@layouts.Base(c, "Supplier "+supplier.Name, "suppliers") {
		<div class="flex flex-col gap-6">
			<div class="flex justify-between">
				<div>
					<h1 class="text-2xl font-bold">{ supplier.Name }</h1>
					<p class="text-base-content/70 mb-4 text-sm">{ supplier.Description.String }</p>
				</div>
				<div class="flex gap-2">
					@components.ButtonLink(routes.SupplierList.ReturnOrURL(c), components.ButtonConfig("Back").
						Icon(icons.ArrowLeft()).
						Color("neutral"),
					)
					@components.ButtonLink(routes.SupplierEditForm.URLWithReturnToCurrent(routes.ID(supplier.ID), c), components.ButtonConfig("Edit").
						Icon(icons.PencilSquare()).
						Color("info"),
					)
					@components.Button(components.ButtonConfig("Delete").
						Type("button").
						Icon(icons.Trash()).
						Color("error").
						HxDelete(routes.SupplierDelete.URLWithReturn(routes.ID(supplier.ID), c)).
						HxConfirm("Are you sure you want to delete this supplier?").
						HxSwap("none"),
					)
				</div>
			</div>
			@ProductsForSupplierTable(c, supplier.ID, products, nil)
		</div>
	}
}
