package pages

import (
	"encoding/json"
	"fmt"
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/routes"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/templates/layouts"
	"github.com/cyrilschreiber3/stock/utils"
	"github.com/gin-gonic/gin"
)

templ Transactions(c *gin.Context, transactions []repository.TransactionWithDetail) {
	@layouts.Base(c, "Transactions", "transactions") {
		<div class="flex flex-col gap-6">
			<div class="flex justify-between">
				<h1 class="text-2xl font-bold">Transactions</h1>
				@components.ButtonLink(routes.TransactionCreateForm.URL(), components.ButtonConfig("Create").
					Icon(icons.Plus()).
					Color("primary"),
				)
			</div>
			@TransactionsTable(c, transactions, nil)
		</div>
	}
}

templ TransactionRow(c *gin.Context, transaction repository.TransactionWithDetail) {
	@TransactionsTableRow(c, transaction)
}

templ TransactionDetails(c *gin.Context, transaction repository.TransactionWithDetail, transactionItems []repository.TransactionItemWithDetail) {
	{{
		supplierName := "N/A"
		if transaction.SupplierID != nil {
			supplierName = transaction.Supplier.Name
		}

		editable := transaction.State == "draft"
	}}
	@layouts.Base(c, "Transaction details", "transactions") {
		<div class="flex flex-col gap-6">
			<div class="flex justify-between">
				<h1 class="text-2xl font-bold">Transaction details</h1>
			</div>
			<div class="card card-border bg-base-100 w-96">
				<div class="card-body">
					<p>
						<strong>Transaction date:</strong>&nbsp;
						<span class="tooltip" data-tip={ utils.PgDateToString(transaction.TransactionDate) }>{ utils.PgDateToNaturalLanguage(transaction.TransactionDate) }</span>
					</p>
					<p>
						<strong>Transaction type:</strong>&nbsp;
						@transactionTypeBadge(transaction.TransactionType)
					</p>
					<p>
						<strong>State:</strong>&nbsp;
						@transactionStateBadge(transaction.State)
					</p>
					<p><strong>Supplier:</strong> { supplierName }</p>
					<p><strong>Base price:</strong> <span id="transaction-base-price">{ utils.PgNumericToString(transaction.BasePrice, "0.00") } CHF</span></p>
					<p><strong>Final price:</strong> <span id="transaction-final-price">{ utils.PgNumericToString(transaction.FinalPrice, "0.00") } CHF</span></p>
					if transaction.AppliedAt.Valid {
						<p><strong>Applied at:</strong> <span class="tooltip" data-tip={ utils.PgTimestampToString(transaction.AppliedAt) }>{ utils.PgTimestampToNaturalLanguage(transaction.AppliedAt) }</span></p>
					}
					if transaction.Description != "" {
						<p><strong>Description:</strong> { transaction.Description }</p>
					}
				</div>
			</div>
			<div class="flex justify-between">
				<h2 class="text-xl font-bold">Transaction items</h2>
				if editable {
					@components.Button(components.ButtonConfig("Add product").
						Icon(icons.Plus()).
						Color("secondary").
						OnClick("document.querySelector('#add_transaction_item_modal #modal-box').dispatchEvent(new Event('resetAddTransactionItemModal')); add_transaction_item_modal.showModal()"),
					)
				}
			</div>
			@TransactionItemsTable(c, transaction.ID, transactionItems, editable, nil)
			<div class="flex justify-end gap-2">
				@components.ButtonLink(routes.TransactionList.URL(), components.ButtonConfig("Back to transactions").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				switch transaction.State {
					case "draft":
						@components.ButtonLink(routes.TransactionEditForm.URLWithReturnToCurrent(routes.ID(transaction.ID), c),
							components.ButtonConfig("Edit").
								Icon(icons.PencilSquare()).
								Color("primary"),
						)
						@components.ButtonDropdown(components.ButtonConfig("Apply transaction").
							Icon(icons.Check()).
							Color("success").
							Classes("join-item").
							HxPost(routes.TransactionApply.URL(routes.ID(transaction.ID))).
							HxConfirm("Are you sure you want to apply this transaction?").
							HxSwap("none").
							Hx("vals", `{"state":"completed"}`),
							components.Button(components.ButtonConfig("Apply without refund").
								Icon(icons.HourGlass()).
								Color("warning").
								HxPost(routes.TransactionApply.URL(routes.ID(transaction.ID))).
								HxConfirm("Are you sure you want to apply this transaction?").
								HxSwap("none").
								Hx("vals", `{"state":"pendingRefund"}`),
							),
						)
						@components.Button(components.ButtonConfig("Delete").
							Icon(icons.Trash()).
							Color("error").
							HxDelete(routes.TransactionDelete.URL(routes.ID(transaction.ID))).
							HxConfirm("Are you sure you want to delete this transaction?"),
						)
					case "pendingRefund":
						@components.Button(components.ButtonConfig("Set as completed").
							Icon(icons.ArrowPath()).
							Color("warning").
							HxPost(routes.TransactionApply.URL(routes.ID(transaction.ID))).
							HxConfirm("Are you sure you want to set this transaction as completed?").
							HxSwap("none").
							Hx("vals", `{"state":"completed"}`),
						)
				}
			</div>
			<dialog id="edit_transaction_item_modal" class="modal">
				<div id="modal-box" class="modal-box" hx-on:htmx:after-swap="if(event.detail.successful) { edit_transaction_item_modal.showModal(); }"></div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
			<dialog id="add_transaction_item_modal" class="modal">
				<div id="modal-box" class="modal-box" hx-get={ routes.TransactionSearchProductsForm.URL(routes.ID(transaction.ID)) } hx-trigger="load, resetAddTransactionItemModal"></div>
				<form method="dialog" class="modal-backdrop">
					<button>close</button>
				</form>
			</dialog>
		</div>
	}
}

templ CreateUpdateTransaction(c *gin.Context, transaction *repository.Transaction, transactionItems *[]repository.TransactionItem) {
	{{
		title := "Create transaction"
		formMethod := "post"
		formAction := routes.TransactionCreate.URLWithReturn(c)
		submitButtonText := "Create"

		transactionDate := ""
		transactionType := ""
		supplierID := ""
		transactionItemsList := []map[string]string{}

		if transaction != nil {
			title = "Update transaction from " + utils.PgDateToString(transaction.TransactionDate)
			formMethod = "put"
			formAction = routes.TransactionUpdate.URLWithReturn(routes.ID(transaction.ID), c)
			submitButtonText = "Update"

			transactionDate = utils.PgDateToFormString(transaction.TransactionDate)
			transactionType = transaction.TransactionType
			if transaction.SupplierID != nil {
				supplierID = transaction.SupplierID.String()
			}
			transactionItemsList = make([]map[string]string, len(*transactionItems))
			for i, item := range *transactionItems {
				transactionItemsList[i] = map[string]string{
					"product_id":       item.ProductID.String(),
					"quantity":         fmt.Sprintf("%d", item.Quantity),
					"base_unit_price":  utils.PgNumericToString(item.BaseUnitPrice, "0.00"),
					"final_unit_price": utils.PgNumericToString(item.FinalUnitPrice, "0.00"),
				}
			}
		}

		defaultItemsJSON, _ := json.Marshal(map[string]string{
			"product_id":       "",
			"quantity":         "",
			"base_unit_price":  "",
			"final_unit_price": "",
		})
	}}
	@layouts.OldBase(c, title) {
		<h1 class="mb-4 text-2xl font-bold">{ title }</h1>
		<form id="supplier-form" name="supplier-form" { "hx-" + formMethod }={ formAction } hx-swap="none">
			@components.FormField(components.FormFieldConfig("transaction_date").
				Type("date").
				Label("Transaction date").
				Placeholder("DD-MM-YYYY").
				ValidationPreset("dateInPast").
				Value(transactionDate).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("transaction_type").
				Type("select").
				Label("Transaction type").
				Placeholder("Select a transaction type").
				Value(transactionType).
				Options(map[string]string{
					"buy":        "Purchase",
					"sell":       "Sale",
					"adjustment": "Adjustment",
				}).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("supplier_id").
				Type("select").
				Label("Supplier").
				Placeholder("Select a Supplier").
				Value(supplierID).
				OptionsFromEndpoint(routes.SupplierOptions.URL()),
			)
			@components.FormField(components.FormFieldConfig("transaction_items").
				Type("multi").
				Label("Transaction items").
				AsMultiFieldList(components.NewFormFieldConfigList(
					components.FormFieldConfig("product_id").
						Type("select").
						Label("Product").
						Placeholder("Select a product").
						AsRowField().
						Required().
						OptionsFromEndpoint(routes.ProductOptions.URL()),
					components.FormFieldConfig("quantity").
						Type("number").
						Label("Quantity").
						Placeholder("Enter quantity").
						ValidationPreset("positiveNumber").
						Required(),
					components.FormFieldConfig("base_unit_price").
						Type("number").
						Label("Base unit price (CHF)").
						Placeholder("Enter base unit price").
						ValidationPreset("positiveNumber").
						ValueFromEndpoint(routes.ProductField.PatternWithParams(map[string]string{"field": "default_buy_price"})).
						DependsOn("product_id"),
					components.FormFieldConfig("final_unit_price").
						Type("number").
						Label("Final unit price (CHF)").
						Placeholder("Enter final unit price").
						ValidationPreset("positiveNumber").
						ValueFromEndpoint(routes.ProductField.PatternWithParams(map[string]string{"field": "default_buy_price"})).
						DependsOn("product_id"),
				), string(defaultItemsJSON)).
				MultiValueList(transactionItemsList).
				Required(),
			)
			<div class="flex justify-end space-x-2">
				@components.ButtonLink(routes.TransactionList.ReturnOrURL(c), components.ButtonConfig("Back").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.Button(components.ButtonConfig(submitButtonText).
					Type("submit").
					Icon(icons.FloppyDisk()).
					Color("primary"),
				)
			</div>
		</form>
	}
}

templ CreateUpdateTransactionV2(c *gin.Context, transaction *repository.Transaction) {
	{{
		title := "Create transaction"
		formMethod := "post"
		formAction := routes.TransactionCreate.URLWithReturn(c)
		submitButtonText := "Create"

		transactionDate := ""
		transactionType := ""
		supplierID := ""
		description := ""

		if transaction != nil {
			title = "Update transaction from " + utils.PgDateToString(transaction.TransactionDate)
			formMethod = "put"
			formAction = routes.TransactionUpdate.URLWithReturn(routes.ID(transaction.ID), c)
			submitButtonText = "Update"

			transactionDate = utils.PgDateToFormString(transaction.TransactionDate)
			transactionType = transaction.TransactionType
			if transaction.SupplierID != nil {
				supplierID = transaction.SupplierID.String()
			}
			description = transaction.Description
		}
	}}
	@layouts.Base(c, title, "transactions") {
		<h1 class="mb-4 text-2xl font-bold">{ title }</h1>
		<form id="supplier-form" name="supplier-form" { "hx-" + formMethod }={ formAction } hx-swap="none">
			@components.FormField(components.FormFieldConfig("transaction_date").
				Type("date").
				Label("Transaction date").
				Placeholder("DD-MM-YYYY").
				ValidationPreset("dateInPast").
				Value(transactionDate).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("transaction_type").
				Type("select").
				Label("Transaction type").
				Placeholder("Select a transaction type").
				Value(transactionType).
				Options(map[string]string{
					"buy":        "Purchase",
					"sell":       "Sale",
					"adjustment": "Adjustment",
				}).
				Required(),
			)
			@components.FormField(components.FormFieldConfig("supplier_id").
				Type("select").
				Label("Supplier").
				Placeholder("Select a Supplier").
				Value(supplierID).
				OptionsFromEndpoint(routes.SupplierOptions.URL()),
			)
			@components.FormField(components.FormFieldConfig("description").
				Type("textarea").
				Label("Description").
				Placeholder("Enter a description for this transaction").
				Value(description),
			)
			<div class="flex justify-end space-x-2">
				@components.ButtonLink(routes.TransactionList.ReturnOrURL(c), components.ButtonConfig("Back").
					Icon(icons.ArrowLeft()).
					Color("neutral"),
				)
				@components.Button(components.ButtonConfig(submitButtonText).
					Type("submit").
					Icon(icons.FloppyDisk()).
					Color("primary"),
				)
			</div>
		</form>
	}
}
