package pages

import (
	"fmt"
	"github.com/cyrilschreiber3/stock/database/repository"
	"github.com/cyrilschreiber3/stock/locales"
	"github.com/cyrilschreiber3/stock/routes"
	"github.com/cyrilschreiber3/stock/templates/components"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"github.com/cyrilschreiber3/stock/utils"
	"github.com/gin-gonic/gin"
	"github.com/google/uuid"
)

templ TransactionItemRow(c *gin.Context, transactionItem repository.TransactionItemWithDetail, editable bool) {
	{{ l := locales.New(c) }}
	<tr id={ fmt.Sprintf("transaction_item_%s", transactionItem.ID.String()) }>
		<td>{ transactionItem.Product.Name }</td>
		<td>{ transactionItem.Quantity }</td>
		<td>{ utils.PgNumericToString(transactionItem.BaseUnitPrice, "0.00") } CHF</td>
		<td>{ utils.PgNumericToString(transactionItem.FinalUnitPrice, "0.00") } CHF</td>
		<td>
			if editable {
				<div class="flex space-x-2">
					@components.Button(components.ButtonConfig(l.Tc("actions.edit")).
						Icon(icons.PencilSquare()).
						Style("soft").
						Size("sm").
						Color("info").
						HxGet(routes.TransactionItemEditForm.URL(routes.TxItem(transactionItem.TransactionID, transactionItem.ID))).
						HxTarget("#edit_transaction_item_modal>#modal-box").
						HxSwap("innerHTML"),
					)
					@components.Button(components.ButtonConfig(l.Tc("actions.delete")).
						Icon(icons.Trash()).
						Color("error").
						Style("soft").
						Size("sm").
						HxDelete(routes.TransactionItemDelete.URL(routes.TxItem(transactionItem.TransactionID, transactionItem.ID))).
						HxConfirm(l.Tc("transaction_items.confirm.delete")).
						HxTarget("closest tr").
						HxSwap("delete"),
					)
				</div>
			}
		</td>
	</tr>
}

templ SelectProductForTransactionItem(c *gin.Context, transactionID uuid.UUID) {
	{{ l := locales.New(c) }}
	<div id="modal-content">
		<h3 class="mb-4 text-lg font-bold">{ l.Tc("transaction_items.actions.select_product") }</h3>
		@components.Search(components.SearchConfig("product_search").
			Icon(icons.Cube()).
			Placeholder(l.Tc("transaction_items.placeholders.search_product")).
			Endpoint(routes.TransactionSearchProducts.URL(routes.ID(transactionID))).
			FilterDefault(l.Tc("transaction_items.filters.all_categories")).
			FiltersFromEndpoint(routes.CategoryOptions.URL()).
			FloatingResults(true),
		)
	</div>
	<div class="modal-action">
		@components.Button(components.ButtonConfig(l.Tc("actions.cancel")).
			Type("button").
			Color("neutral").
			OnClick("add_transaction_item_modal.close()"),
		)
	</div>
}

templ CreateUpdateTransactionItem(c *gin.Context, product repository.ProductWithDetail, transaction repository.Transaction, transactionItem *repository.TransactionItem) {
	{{
		l := locales.New(c)

		title := l.Tc("transaction_items.titles.new")
		formMethod := "post"
		formAction := routes.TransactionItemCreate.URL(routes.ID(transaction.ID))
		submitButtonText := l.Tc("actions.add")
		modalID := "add_transaction_item_modal"

		quantityValidationPreset := "positiveInteger"

		productID := product.ID.String()
		quantity := ""
		baseUnitPrice := ""
		finalUnitPrice := ""

		switch transaction.TransactionType {
		case "buy":
			baseUnitPrice = utils.PgNumericToString(product.DefaultBuyPrice, "0.00")
			finalUnitPrice = utils.PgNumericToString(product.DefaultBuyPrice, "0.00")
		case "sell":
			baseUnitPrice = utils.PgNumericToString(product.DefaultSellPrice, "0.00")
			finalUnitPrice = utils.PgNumericToString(product.DefaultSellPrice, "0.00")
		case "adjustment":
			baseUnitPrice = utils.PgNumericToString(product.DefaultSellPrice, "0.00")
			finalUnitPrice = utils.PgNumericToString(product.DefaultSellPrice, "0.00")
			quantityValidationPreset = "integer"
		default:
			baseUnitPrice = utils.PgNumericToString(product.DefaultSellPrice, "0.00")
			finalUnitPrice = utils.PgNumericToString(product.DefaultSellPrice, "0.00")
		}

		if transactionItem != nil {
			title = l.Tc("transaction_items.titles.edit")
			formMethod = "put"
			formAction = routes.TransactionItemUpdate.URL(routes.TxItem(transaction.ID, transactionItem.ID))
			submitButtonText = l.Tc("actions.update")
			modalID = "edit_transaction_item_modal"

			productID = transactionItem.ProductID.String()
			quantity = fmt.Sprintf("%d", transactionItem.Quantity)
			baseUnitPrice = utils.PgNumericToString(transactionItem.BaseUnitPrice, "0.00")
			finalUnitPrice = utils.PgNumericToString(transactionItem.FinalUnitPrice, "0.00")
		}
	}}
	<form id="transaction-item-form" name="transaction-item-form" { "hx-" + formMethod }={ formAction } hx-swap="none" { "hx-on:htmx:after-request" }={ fmt.Sprintf("if (event.detail.successful) { %s.close(); }", modalID) }>
		<div id="modal-content">
			<h3 class="mb-4 text-lg font-bold">{ title }</h3>
			<div class="card bg-base-200 mb-4 p-4">
				<div class="flex content-center items-center justify-between gap-4">
					<div class="flex-1">
						<p>
							<strong>{ l.Tc("products.fields.brand") }:</strong>
							<a class="link link-hover" href={ routes.BrandDetails.URL(routes.Name(product.Brand)) }>{ product.Brand }</a>
						</p>
						<p>
							<strong>{ l.Tc("table.columns.name") }:</strong>
							<a class="link link-hover" href={ routes.ProductDetails.URL(routes.ID(product.ID)) }>{ product.Name }</a>
						</p>
						<p>
							<strong>{ l.Tc("products.fields.stock") }:</strong> { fmt.Sprintf("%d", product.InventoryQuantity) }
						</p>
						<p>
							<strong>{ l.Tc("categories.label") }:</strong>
							<a class="link link-hover" href={ routes.CategoryDetails.URL(routes.ID(product.CategoryID)) }>{ product.Category.Name }</a> / <a class="link link-hover" href={ routes.SubcategoryDetails.URL(routes.Subcategory(product.CategoryID, product.SubcategoryID)) }>{ product.Subcategory.Name }</a>
						</p>
					</div>
					if transactionItem == nil {
						<div class="shrink-0">
							@components.Button(components.ButtonConfig(l.Tc("actions.change")).
								Type("button").
								Icon(icons.XMark()).
								Color("primary").
								Style("link").
								Size("xs").
								HxGet(routes.TransactionSearchProductsForm.URL(routes.ID(transaction.ID))).
								HxTarget(fmt.Sprintf("#%s>#modal-box", modalID)).
								HxSwap("innerHTML"),
							)
						</div>
					}
				</div>
			</div>
			<input id="product_id" name="product_id" type="text" value={ productID } hidden/>
			<input id="transaction_id" name="transaction_id" type="text" value={ transaction.ID.String() } hidden/>
			@components.FormField(components.FormFieldConfig("quantity").
				Type("number").
				Label(l.Tc("transaction_items.fields.quantity")).
				Placeholder(l.Tc("transaction_items.placeholders.quantity")).
				Value(quantity).
				ValidationPreset(quantityValidationPreset).
				Autofocus().
				Required(),
			)
			@components.FormField(components.FormFieldConfig("base_unit_price").
				Type("number").
				Label(l.Tc("transaction_items.fields.base_unit_price")).
				Placeholder(l.Tc("transaction_items.placeholders.base_unit_price")).
				Value(baseUnitPrice).
				ValidationPreset("money").
				Suffix("CHF").
				Required(),
			)
			@components.FormField(components.FormFieldConfig("final_unit_price").
				Type("number").
				Label(l.Tc("transaction_items.fields.final_unit_price")).
				Placeholder(l.Tc("transaction_items.placeholders.final_unit_price")).
				Value(finalUnitPrice).
				ValidationPreset("money").
				Suffix("CHF").
				Required(),
			)
		</div>
		<div class="modal-action">
			@components.Button(components.ButtonConfig(submitButtonText).
				Type("submit").
				Icon(icons.FloppyDisk()).
				Color("primary"),
			)
			@components.Button(components.ButtonConfig(l.Tc("actions.cancel")).
				Type("button").
				Color("neutral").
				OnClick(fmt.Sprintf("%s.close()", modalID)),
			)
		</div>
	</form>
}
