package components

import "strings"

templ Button(config *buttonConfig) {
	<button class={ "btn " + strings.Join(config.classes, " ") } { config.attributes... }>
		if config.icon != nil && !config.iconAfter {
			@config.icon
		}
		{ config.label }
		if config.icon != nil && config.iconAfter {
			@config.icon
		}
	</button>
}
