package components

import "strings"

templ Button(config *buttonConfig) {
	<button class={ "btn " + strings.Join(config.classes, " ") } { config.attributes... }>
		if config.icon != nil && !config.iconAfter {
			<span class={ config.iconSizeClass() }>
				@config.icon
			</span>
		}
		{ config.label }
		if config.icon != nil && config.iconAfter {
			<span class={ config.iconSizeClass() }>
				@config.icon
			</span>
		}
	</button>
}

templ ButtonLink(target string, config *buttonConfig) {
	{{
		if target == "" {
			target = "#"
		}
	}}
	<a href={ target } class={ "btn " + strings.Join(config.classes, " ") } { config.attributes... }>
		if config.icon != nil && !config.iconAfter {
			<span class={ config.iconSizeClass() }>
				@config.icon
			</span>
		}
		{ config.label }
		if config.icon != nil && config.iconAfter {
			<span class={ config.iconSizeClass() }>
				@config.icon
			</span>
		}
	</a>
}
