package components

import (
	"encoding/json"
	"fmt"
	"github.com/cyrilschreiber3/stock/templates/icons"
	"strings"
)

templ FormField(config *formFieldConfig) {
	<fieldset class="fieldset">
		<legend class="fieldset-legend">
			{ config.label }
			if !config.required {
				<span class="badge badge-neutral badge-xs">Optional</span>
			}
		</legend>
		if config.prefix != "" || config.suffix != "" {
			<label class={ strings.Join(config.inputClasses, " ") }>
				if config.prefix != "" {
					<span class="label">{ config.prefix }</span>
				}
				@config.getInputComponent()
				if config.suffix != "" {
					<span class="label">{ config.suffix }</span>
				}
			</label>
		} else {
			@config.getInputComponent()
		}
	</fieldset>
}

func listFormInputState(config *formFieldConfig) string {
	if len(config.valueList) == 0 {
		return fmt.Sprintf("{ %s: [] }", config.name)
	}

	b, err := json.Marshal(config.valueList)
	if err != nil {
		return fmt.Sprintf("{ %s: [] }", config.name)
	}

	return fmt.Sprintf("{ %s: %s }", config.name, string(b))
}

templ listFormInput(config *formFieldConfig, inputComponent templ.Component) {
	<div x-data={ listFormInputState(config) }>
		<div class="flex flex-col">
			<template x-for={ fmt.Sprintf("(item, index) in %s", config.name) } :key="index">
				<div class="join">
					// <input type="text" name="aliases" class="input join-item" x-model="aliases[index]" placeholder="Alternate product name"/>
					@inputComponent
					@Button(ButtonConfig("").
						Icon(icons.Trash()).
						Type("button").
						Color("error").
						AtClick(fmt.Sprintf("%s.splice(index, 1)", config.name)).
						Style("soft").
						Classes("join-item", "mb-2"),
					)
				</div>
			</template>
		</div>
		@Button(ButtonConfig("Add").
			Icon(icons.Plus()).
			Type("button").
			Color("success").
			Size("sm").
			Style("soft").
			AtClick(fmt.Sprintf("%s.push('')", config.name)),
		)
	</div>
}

templ formInput(classes []string, attributes templ.Attributes) {
	<input class={ strings.Join(classes, " ") } { attributes... }/>
}

templ selectFormInput(classes []string, attributes templ.Attributes, options map[string]string, placeholder string) {
	<select class={ strings.Join(classes, " ") } { attributes... }>
		@SelectOptions(placeholder, "", options)
	</select>
}

templ SelectOptions(placeholder string, selectedId string, options map[string]string) {
	{{
		selectedExists := false
		if selectedId != "" {
			_, selectedExists = options[selectedId]
		}
	}}
	if placeholder != "" {
		if selectedId == "" || !selectedExists {
			<option disabled selected value="">{ placeholder }</option>
		} else {
			<option disabled value="">{ placeholder }</option>
		}
	}
	for key, value := range options {
		if key == selectedId && selectedExists {
			<option value={ key } selected>{ value }</option>
		} else {
			<option value={ key }>{ value }</option>
		}
	}
}

templ radioFormInput(name string, classes []string, options map[string]string) {
	for key, value := range options {
		<label class="label">
			<input type="radio" class={ strings.Join(classes, " ") } name={ name } value={ key }/>
			<span class="label-text">{ value }</span>
		</label>
	}
}

templ textareaFormInput(classes []string, attributes templ.Attributes) {
	<textarea class={ strings.Join(classes, " ") } { attributes... }></textarea>
}

// templ TextInput(name string, placeholder string, value string, required bool) {
// 	<input type="text" name={ name } class="input validator" placeholder={ placeholder } value={ value } required?={ required && required == true }/>
// }

// templ NumberInput(name string, placeholder string, suffix string, value string, required bool) {
// 	if suffix != "" {
// 		<label class="input validator">
// 			<input type="number" name={ name } value={ value } required?={ required && required == true } step="0.01" min="0" placeholder={ placeholder }/>
// 			<span class="label">{ suffix }</span>
// 		</label>
// 	} else {
// 		<input type="number" name={ name } value={ value } required?={ required && required == true } step="0.01" min="0" placeholder={ placeholder } class="input validator"/>
// 	}
// }

// templ TextArea(name string, placeholder string, value string, required bool) {
// 	<textarea name={ name } class="textarea validator" placeholder={ placeholder } required?={ required && required == true }>{ value }</textarea>
// }
