package components

templ Modal(id string, title string) {
	<dialog class="modal" id={ id }>
		<div class="modal-box">
			<h3 class="text-lg font-bold">{ title }</h3>
			{ children... }
			// if len(modalButtons) > 0 {
			// 	<div class="modal-action">
			// 		for _, button := range modalButtons {
			// 			@Button(button)
			// 		}
			// 	</div>
			// }
		</div>
		<form method="dialog" class="modal-backdrop"></form>
	</dialog>
}
